
.error{ 
    color: black;
    background: grey !important;
    padding: 10px !important;
    border-radius: 0 !important;
    position: relative; 
    display: inline-block !important;
    border: darkgreen;
    box-shadow: 1px 1px 1px #aaaaaa;
    margin-top: 10px;
    font-size: 20px;
  }